
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
	font-family: 'Inter', sans-serif;
	background-color: #F7FAFC;
}

.sidebar {
	width: 256px;
}

.main-content {
	margin-left: 256px;
	min-height: 100vh;
}

.nav-active-link {
	background-color: #4a5568;
	font-weight: 700;
	border-right: 4px solid #38A169;
	color: white;
}

.settings-card {
	background-color: #ffffff;
	border-radius: 0.75rem;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.billbot-green {
	color: #38A169;
}

.billbot-green-bg {
	background-color: #38A169;
}

.main-content-area {
	flex-grow: 1;
	padding: 2rem;
	margin-left: 256px;
}

.focus-ring-green:focus {
	--tw-ring-color: #38A169 !important;
	border-color: #38A169 !important;
}
